.sticky {
  background-color: black;
  position: sticky;
  top: 0;
  width: 100%;
}

h1 {
  display: inline-block;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
  color: #fff;
  background: rgb(0, 0, 0, 0.5);
  font-size: 20px;
}

li {
  display: inline-block;
  margin: 0px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

li a:hover {
  background-color: rgb(172, 32, 130);
  color: rgb(47, 47, 48);
}
